@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main,
footer {
  max-width: 1920px;
  margin: auto;
}

.one-screen {
  height: 100vh;
  max-height: 900px;
  background: white;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover;
  position: relative;
  background-position: center center;
}
.one-screen::before {
  content: "";
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0245ff;
  -webkit-clip-path: polygon(0 0, 67% 0, 44% 100%, 0% 100%);
          clip-path: polygon(0 0, 67% 0, 44% 100%, 0% 100%);
}
.one-screen .wrapper {
  z-index: 4;
  position: relative;
  max-width: 1500px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.one-screen .wrapper .right {
  transform: translateX(100px);
  height: 100%;
  flex: 1;
}
.one-screen .wrapper .right .logo-wrp {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.one-screen .wrapper .right .logo {
  height: 70px;
}
.one-screen .wrapper .right .blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 400px;
  margin: 170px auto;
  grid-gap: 30px;
  width: 400px;
  transform: rotate(45deg);
  -webkit-animation-name: rotateBlocksWrapper;
          animation-name: rotateBlocksWrapper;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
}
.one-screen .wrapper .right .blocks .items {
  border-radius: 30px;
  background: #0044ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.one-screen .wrapper .right .blocks .items span {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 23px;
  font-weight: 600;
  transform: rotate(-45deg);
  -webkit-animation-name: rotateBlocks;
          animation-name: rotateBlocks;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
}
.one-screen .wrapper .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.one-screen .wrapper .left h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 50px;
}
.one-screen .wrapper .left h1 span {
  cursor: pointer;
  color: rgba(2, 69, 255, 0.831372549);
  background: white;
  padding-right: 10px;
  padding-left: 10px;
}
.one-screen .wrapper .left form {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.one-screen .wrapper .left form .send {
  height: 80px;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  background: transparent;
  border: 2px solid white;
  -webkit-animation-name: sended;
          animation-name: sended;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition-duration: 0.3s;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 23% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 23% 100%, 0 100%, 0 0);
}
.one-screen .wrapper .left form input {
  width: 80%;
  height: 80px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 28px;
}
.one-screen .wrapper .left form .txt {
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

@-webkit-keyframes sendBtn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes sendBtn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes rotateBlocks {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-425deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes rotateBlocks {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-425deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes rotateBlocksWrapper {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(0px) rotate(425deg);
  }
  100% {
    transform: translateY(0px) rotate(45deg);
  }
}
@keyframes rotateBlocksWrapper {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(0px) rotate(425deg);
  }
  100% {
    transform: translateY(0px) rotate(45deg);
  }
}
@-webkit-keyframes sended {
  0% {
    background: transparent;
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 23% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 23% 100%, 0 100%, 0 0);
  }
  40% {
    background: white;
  }
  50% {
    -webkit-clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
            clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
    width: 200px;
    height: 200px;
    color: transparent;
    transform: rotate(45deg);
    background: white;
  }
  75% {
    transform: rotate(45deg) translateY(-1500px);
    background: white;
    -webkit-clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
            clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
    opacity: 1;
    background: white;
    width: 200px;
    height: 200px;
  }
  100% {
    background: white;
    width: 200px;
    height: 200px;
    opacity: 0;
    transform: rotate(45deg) translateY(-1500px);
    -webkit-clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
            clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
  }
}
@keyframes sended {
  0% {
    background: transparent;
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 23% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 23% 100%, 0 100%, 0 0);
  }
  40% {
    background: white;
  }
  50% {
    -webkit-clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
            clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
    width: 200px;
    height: 200px;
    color: transparent;
    transform: rotate(45deg);
    background: white;
  }
  75% {
    transform: rotate(45deg) translateY(-1500px);
    background: white;
    -webkit-clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
            clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
    opacity: 1;
    background: white;
    width: 200px;
    height: 200px;
  }
  100% {
    background: white;
    width: 200px;
    height: 200px;
    opacity: 0;
    transform: rotate(45deg) translateY(-1500px);
    -webkit-clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
            clip-path: polygon(50% 0, 79% 63%, 54% 63%, 50% 43%, 47% 63%, 20% 63%);
  }
}
.send-wp {
  height: 100px;
  position: relative;
  width: 100%;
}

main {
  overflow-x: hidden;
}

.sended-text {
  opacity: 0;
  pointer-events: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  transition-duration: 0.3s;
  transition-delay: 1.5s;
  position: absolute;
  left: 40%;
  top: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transform: translateX(-50%) translateY(-50%);
}

.sended-text-activated {
  opacity: 1;
  top: 50%;
}

@media screen and (max-width: 1440px) {
  .one-screen .wrapper {
    max-width: 80% !important;
  }
  .one-screen .wrapper .left h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .one-screen .wrapper .left form input {
    width: 70%;
    height: 61px;
  }
  .one-screen .wrapper .left form .txt {
    font-size: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .one-screen .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .one-screen .wrapper .left {
    width: 100%;
  }
  .one-screen .wrapper .right {
    width: 100%;
    position: initial;
  }
  .one-screen .wrapper .right .logo {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.mobile-logo {
  display: none;
}

@media screen and (max-width: 1024px) {
  .one-screen::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 99% 0, 100% 0, 100% 54%, 0 54%);
            clip-path: polygon(0 0, 100% 0, 99% 0, 100% 0, 100% 54%, 0 54%);
  }
  .one-screen {
    height: 150vh;
  }
  .mobile-logo {
    z-index: 909;
    display: block;
    right: 30px;
    top: 20px;
    position: absolute;
    background: white;
  }
  .mobile-logo img {
    height: 40px;
  }
  .one-screen .wrapper .left form input {
    width: 100%;
  }
  .one-screen .wrapper .left {
    padding-top: 100px;
  }
  .one-screen .wrapper .left h1 {
    line-height: 58px;
  }
  .one-screen .wrapper .right {
    transform: translateX(0px);
  }
  .one-screen .wrapper .right .logo {
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  .one-screen .wrapper {
    max-width: 90% !important;
    width: 90% !important;
  }
  .one-screen .wrapper .left h1 {
    font-size: 35px;
  }
  .one-screen .wrapper .left h1 {
    line-height: 47px;
  }
  .one-screen .wrapper .right {
    transform: scale(0.8);
  }
  .sended-text {
    left: 50% !important;
  }
}
@media screen and (max-width: 425px) {
  .one-screen {
    height: 1300px;
  }
  .one-screen .wrapper .right {
    transform: scale(0.6) translateX(-40px);
  }
  .mobile-logo {
    padding: 5px;
  }
  .one-screen .wrapper .left h1 {
    font-size: 6.8vw;
  }
  .one-screen .wrapper .left form input {
    height: 53px;
  }
  .one-screen .wrapper .left form input {
    margin-bottom: 10px;
  }
  .sended-text {
    font-size: 22px !important;
  }
  .one-screen .wrapper .left form .send {
    font-size: 6vw !important;
  }
}
.second-screen .wrapper {
  max-width: 1500px;
  padding: 150px 0px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.second-screen .wrapper .left {
  max-width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-screen .wrapper .left p,
.second-screen .wrapper .left h1 {
  font-family: "Montserrat", sans-serif;
}
.second-screen .wrapper .left h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #0246ff;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(2, 69, 255, 0.4941176471);
  margin-bottom: 20px;
  font-size: 45px;
}
.second-screen .wrapper .left h1 svg {
  height: 30px;
}
.second-screen .wrapper .left p {
  font-size: 20px;
  line-height: 35px;
}
.second-screen .wrapper .left p svg {
  height: 30px;
  margin: 10px 8px;
  color: #0246ff;
}
.second-screen .wrapper .left p span {
  color: #0246ff;
}
.second-screen .wrapper .right {
  width: 670px;
  display: flex;
  padding-top: 60px;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.second-screen .wrapper .right .block {
  height: 188px;
  width: 188px;
  border-radius: 20px;
  background: white;
  box-shadow: 10px 10px 20px rgb(223, 223, 223);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.second-screen .wrapper .right .block svg {
  color: #0044ff;
  height: 80px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1500px) {
  .second-screen .wrapper {
    max-width: 1380px;
  }
}
@media screen and (max-width: 1380px) {
  .second-screen .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .second-screen .wrapper .right .block {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 780px) {
  .second-screen .wrapper .right {
    width: 90%;
  }
  .second-screen .wrapper .left {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .second-screen .wrapper .left p {
    font-size: 14px;
    line-height: 26px;
  }
  .second-screen .wrapper .left h1 {
    font-size: 33px;
  }
  .second-screen .wrapper .left h1 svg,
.second-screen .wrapper .left p svg {
    height: 24px;
  }
  .second-screen .wrapper .right .block svg {
    height: 60px;
  }
  .second-screen .wrapper .right .block {
    padding: 0px;
  }
  .second-screen .wrapper .right .block {
    height: initial;
    width: initial;
  }
  .second-screen .wrapper .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .second-screen .wrapper .right .block {
    padding: 30px 0px;
  }
}
@media screen and (max-width: 450px) {
  .second-screen .wrapper .left p {
    font-size: 13px;
    line-height: 20px;
  }
  .second-screen .wrapper {
    padding: 109px 0px;
  }
}
.slider-wrapper {
  height: 900px;
  position: relative;
  background: #0246ff;
}

.content {
  flex-direction: column;
  max-width: 1500px;
  justify-content: center;
}
.content h2 {
  color: white;
  font-size: 45px;
  text-align: start;
  font-family: "Montserrat", sans-serif;
}
.content p {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 50%;
  margin-bottom: 20px;
  text-align: start;
}
.content button {
  width: 250px;
  height: 60px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
.content button:hover {
  box-shadow: 0 0 20px white;
  transform: translateY(-20px);
}

.questions {
  padding: 233px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  color: #0044ff;
}
.questions .wrapper {
  padding-top: 121px;
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.questions .wrapper .left {
  padding: 100px 50px;
  width: 590px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #0044ff;
  border-radius: 20px;
  text-align: center;
}
.questions .wrapper .left a {
  width: 100%;
}
.questions .wrapper .left button {
  background: #0044ff;
  height: 60px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
  cursor: pointer;
  transition-duration: 0.3s;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  border: none;
}
.questions .wrapper .left button:hover {
  transform: translateY(-10px);
}
.questions .wrapper .left img {
  height: 80px;
  margin-bottom: 20px;
}
.questions .wrapper .left h2 {
  font-size: 25px;
}
.questions .wrapper .right {
  margin-left: 176px;
  width: 590px;
  height: 100%;
}
.questions .wrapper .right .question {
  width: 100%;
  overflow: hidden;
  padding: 20px 30px;
  border: 2px solid #0044ff;
  margin-bottom: 20px;
  font-weight: 600;
  height: 70px;
  font-size: 23px;
  cursor: pointer;
  border-radius: 20px;
  transition-duration: 0.3s;
  color: #0044ff;
  font-family: "Montserrat", sans-serif;
}
.questions .wrapper .right .question p {
  margin-top: 20px;
}
.questions .wrapper .right .question:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 10px rgba(0, 68, 255, 0.4901960784);
}

.screen {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background: gray;
}

.weeks {
  width: 210px;
  overflow: hidden;
  background: gray;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 28px 28px;
  grid-template-rows: repeat(22, 1fr);
  grid-gap: 10px;
}
.weeks .blocks {
  background: lime;
  border: 1px solid black;
}
.weeks .blocks:nth-child(3n) {
  background: yellow;
}
.weeks .blocks:nth-child(3n+2) {
  background: orangered;
}

.rotate-block {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 71% 0, 43% 100%, 12% 100%, 20% 100%, 0 100%, 0 0);
          clip-path: polygon(20% 0%, 80% 0%, 71% 0, 43% 100%, 12% 100%, 20% 100%, 0 100%, 0 0);
  height: 100%;
  width: 100%;
  background: rgba(2, 69, 255, 0.831372549);
  position: absolute;
  pointer-events: none;
  z-index: 1;
  top: 0;
}

footer {
  height: 404px;
  background: #0246ff;
}
footer .wrapper {
  max-width: 1500px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .wrapper div img {
  height: 70px;
  background: white;
  padding: 2px;
}
footer .wrapper ul {
  list-style-type: none;
  line-height: 30px;
}
footer .wrapper ul li {
  margin-bottom: 30px;
  background: white;
  border-radius: 5px;
}
footer .wrapper ul li:nth-child(1) {
  background: red;
  background: transparent;
}
footer .wrapper ul li:nth-child(1) a {
  color: white;
}
footer .wrapper ul li a {
  height: 100%;
  padding: 5px 25px;
  display: block;
  width: 100%;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
}
footer .wrapper ul li a svg {
  margin-right: 10px;
}
footer .wrapper ul li a img {
  margin-left: 10px;
  height: 20px;
}

.univers_menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 999;
  pointer-events: none;
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.univers_menu_active {
  pointer-events: fill !important;
}
.univers_menu_active h2 {
  opacity: 1 !important;
  transform: translateX(0%) !important;
  letter-spacing: 0px !important;
  transition-delay: 0.3s;
}

.univers_menu_inner {
  border-radius: 20px;
  height: 800px;
  position: relative;
  padding: 30px;
  max-width: 1000px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.univers_menu_inner h2 {
  transition-duration: 1s;
  transform: translateX(-100%);
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 20px;
  display: flex;
  justify-content: space-between;
  color: #0044ff;
  white-space: nowrap;
  opacity: 0;
}
.univers_menu_inner h2 span {
  cursor: pointer;
}
.univers_menu_inner .items {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-10%);
  margin-top: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  transition-duration: 0.3s;
  transition-timing-function: linear !important;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  border: 2px solid #0044ff;
  cursor: pointer;
}
.univers_menu_inner .items .bottom {
  height: 0px;
  width: 100%;
  transition-duration: 0.3s;
}
.univers_menu_inner .items .bottom figure {
  height: 100px;
  transition-duration: 0.3s;
  width: 200px;
  transform: translateY(-110px) translateX(17vw);
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  background-image: url("https://files.vgtimes.ru/posts/2023-03/1677671979_1.jpg");
  margin: 20px auto;
  margin-top: 0px !important;
}
.univers_menu_inner .items .bottom ul {
  width: 90%;
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.univers_menu_inner .items .bottom ul li {
  margin: 5px;
  border: 2px solid #0044ff;
  border-radius: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: white;
  color: #0044ff;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  max-width: 150px;
}
.univers_menu_inner .items .top {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 50px;
}
.univers_menu_inner .items .top h3 {
  font-family: "Montserrat", sans-serif;
  color: #0044ff;
  margin-right: 60px;
  max-width: 400px;
  font-size: 20px;
}
.univers_menu_inner .rightactive {
  transform: translate(0px);
  pointer-events: fill;
  opacity: 1;
}
.univers_menu_inner .itemsactive {
  border-bottom: 5px solid #0044ff;
}
.univers_menu_inner .itemsactive .bottom {
  height: 460px;
  width: 100%;
}
.univers_menu_inner .itemsactive .bottom figure {
  height: 200px;
  transform: translate(0px);
  width: 90%;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  background-image: url("https://files.vgtimes.ru/posts/2023-03/1677671979_1.jpg");
  margin: 20px auto;
  margin-top: 0px !important;
}

.univers_menu_inner_back {
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  z-index: -1;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: white;
  transition-duration: 0.5s;
}

.univers_menu_inner_back_active_height {
  width: 10%;
  height: 800px;
  transition-duration: 0.5s;
  border-radius: 20px;
}

.univers_menu_inner_back_active_width {
  width: 1000px;
  transition-duration: 1s;
}

::-webkit-scrollbar {
  width: 10px; /* в основном для вертикальных полос прокрутки */
  height: 10px; /* в основном для горизонтальных полос прокрутки */
}

::-webkit-scrollbar-thumb {
  /* плашка-бегунок */
  background: transparent;
  border-radius: 200px;
}

::-webkit-scrollbar-track {
  /* фон */
  background: transparent;
  border-radius: 20px;
}

.four-blocks,
.four-blocks1,
.four-blocks2,
.four-blocks3 {
  height: 100vh;
  pointer-events: none;
  max-height: 900px;
  overflow-y: scroll;
  width: 100%;
  background: transparent;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.four-blocks .four-wrapper,
.four-blocks .four-wrapper1,
.four-blocks .four-wrapper2,
.four-blocks .four-wrapper3,
.four-blocks1 .four-wrapper,
.four-blocks1 .four-wrapper1,
.four-blocks1 .four-wrapper2,
.four-blocks1 .four-wrapper3,
.four-blocks2 .four-wrapper,
.four-blocks2 .four-wrapper1,
.four-blocks2 .four-wrapper2,
.four-blocks2 .four-wrapper3,
.four-blocks3 .four-wrapper,
.four-blocks3 .four-wrapper1,
.four-blocks3 .four-wrapper2,
.four-blocks3 .four-wrapper3 {
  min-height: 0px;
  max-height: 0px;
  border-radius: 20px;
  overflow-y: scroll;
  max-width: 1000px;
  width: 0%;
  background: white;
  padding: 0px;
}
.four-blocks .four-wrapper .four-wrapper-item,
.four-blocks .four-wrapper1 .four-wrapper-item,
.four-blocks .four-wrapper2 .four-wrapper-item,
.four-blocks .four-wrapper3 .four-wrapper-item,
.four-blocks1 .four-wrapper .four-wrapper-item,
.four-blocks1 .four-wrapper1 .four-wrapper-item,
.four-blocks1 .four-wrapper2 .four-wrapper-item,
.four-blocks1 .four-wrapper3 .four-wrapper-item,
.four-blocks2 .four-wrapper .four-wrapper-item,
.four-blocks2 .four-wrapper1 .four-wrapper-item,
.four-blocks2 .four-wrapper2 .four-wrapper-item,
.four-blocks2 .four-wrapper3 .four-wrapper-item,
.four-blocks3 .four-wrapper .four-wrapper-item,
.four-blocks3 .four-wrapper1 .four-wrapper-item,
.four-blocks3 .four-wrapper2 .four-wrapper-item,
.four-blocks3 .four-wrapper3 .four-wrapper-item {
  margin-bottom: 20px;
}
.four-blocks .four-wrapper h2,
.four-blocks .four-wrapper1 h2,
.four-blocks .four-wrapper2 h2,
.four-blocks .four-wrapper3 h2,
.four-blocks1 .four-wrapper h2,
.four-blocks1 .four-wrapper1 h2,
.four-blocks1 .four-wrapper2 h2,
.four-blocks1 .four-wrapper3 h2,
.four-blocks2 .four-wrapper h2,
.four-blocks2 .four-wrapper1 h2,
.four-blocks2 .four-wrapper2 h2,
.four-blocks2 .four-wrapper3 h2,
.four-blocks3 .four-wrapper h2,
.four-blocks3 .four-wrapper1 h2,
.four-blocks3 .four-wrapper2 h2,
.four-blocks3 .four-wrapper3 h2 {
  font-size: 32px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  font-weight: 1000;
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  white-space: nowrap;
  color: #0044ff;
}
.four-blocks .four-wrapper h2 span,
.four-blocks .four-wrapper1 h2 span,
.four-blocks .four-wrapper2 h2 span,
.four-blocks .four-wrapper3 h2 span,
.four-blocks1 .four-wrapper h2 span,
.four-blocks1 .four-wrapper1 h2 span,
.four-blocks1 .four-wrapper2 h2 span,
.four-blocks1 .four-wrapper3 h2 span,
.four-blocks2 .four-wrapper h2 span,
.four-blocks2 .four-wrapper1 h2 span,
.four-blocks2 .four-wrapper2 h2 span,
.four-blocks2 .four-wrapper3 h2 span,
.four-blocks3 .four-wrapper h2 span,
.four-blocks3 .four-wrapper1 h2 span,
.four-blocks3 .four-wrapper2 h2 span,
.four-blocks3 .four-wrapper3 h2 span {
  cursor: pointer;
}
.four-blocks .four-wrapper h3,
.four-blocks .four-wrapper1 h3,
.four-blocks .four-wrapper2 h3,
.four-blocks .four-wrapper3 h3,
.four-blocks1 .four-wrapper h3,
.four-blocks1 .four-wrapper1 h3,
.four-blocks1 .four-wrapper2 h3,
.four-blocks1 .four-wrapper3 h3,
.four-blocks2 .four-wrapper h3,
.four-blocks2 .four-wrapper1 h3,
.four-blocks2 .four-wrapper2 h3,
.four-blocks2 .four-wrapper3 h3,
.four-blocks3 .four-wrapper h3,
.four-blocks3 .four-wrapper1 h3,
.four-blocks3 .four-wrapper2 h3,
.four-blocks3 .four-wrapper3 h3 {
  font-size: 22px;
  font-weight: 1000;
  opacity: 0;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  color: #0044ff;
  margin-bottom: -10px;
}
.four-blocks .four-wrapper div,
.four-blocks .four-wrapper1 div,
.four-blocks .four-wrapper2 div,
.four-blocks .four-wrapper3 div,
.four-blocks1 .four-wrapper div,
.four-blocks1 .four-wrapper1 div,
.four-blocks1 .four-wrapper2 div,
.four-blocks1 .four-wrapper3 div,
.four-blocks2 .four-wrapper div,
.four-blocks2 .four-wrapper1 div,
.four-blocks2 .four-wrapper2 div,
.four-blocks2 .four-wrapper3 div,
.four-blocks3 .four-wrapper div,
.four-blocks3 .four-wrapper1 div,
.four-blocks3 .four-wrapper2 div,
.four-blocks3 .four-wrapper3 div {
  margin-bottom: 30px;
}
.four-blocks .four-wrapper ul,
.four-blocks .four-wrapper1 ul,
.four-blocks .four-wrapper2 ul,
.four-blocks .four-wrapper3 ul,
.four-blocks1 .four-wrapper ul,
.four-blocks1 .four-wrapper1 ul,
.four-blocks1 .four-wrapper2 ul,
.four-blocks1 .four-wrapper3 ul,
.four-blocks2 .four-wrapper ul,
.four-blocks2 .four-wrapper1 ul,
.four-blocks2 .four-wrapper2 ul,
.four-blocks2 .four-wrapper3 ul,
.four-blocks3 .four-wrapper ul,
.four-blocks3 .four-wrapper1 ul,
.four-blocks3 .four-wrapper2 ul,
.four-blocks3 .four-wrapper3 ul {
  opacity: 0;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: flex-start;
}
.four-blocks .four-wrapper ul li,
.four-blocks .four-wrapper1 ul li,
.four-blocks .four-wrapper2 ul li,
.four-blocks .four-wrapper3 ul li,
.four-blocks1 .four-wrapper ul li,
.four-blocks1 .four-wrapper1 ul li,
.four-blocks1 .four-wrapper2 ul li,
.four-blocks1 .four-wrapper3 ul li,
.four-blocks2 .four-wrapper ul li,
.four-blocks2 .four-wrapper1 ul li,
.four-blocks2 .four-wrapper2 ul li,
.four-blocks2 .four-wrapper3 ul li,
.four-blocks3 .four-wrapper ul li,
.four-blocks3 .four-wrapper1 ul li,
.four-blocks3 .four-wrapper2 ul li,
.four-blocks3 .four-wrapper3 ul li {
  font-family: "Montserrat", sans-serif;
  margin-left: 40px;
  font-weight: 500;
  position: relative;
  margin-top: 20px;
}
.four-blocks .four-wrapper ul li::after,
.four-blocks .four-wrapper1 ul li::after,
.four-blocks .four-wrapper2 ul li::after,
.four-blocks .four-wrapper3 ul li::after,
.four-blocks1 .four-wrapper ul li::after,
.four-blocks1 .four-wrapper1 ul li::after,
.four-blocks1 .four-wrapper2 ul li::after,
.four-blocks1 .four-wrapper3 ul li::after,
.four-blocks2 .four-wrapper ul li::after,
.four-blocks2 .four-wrapper1 ul li::after,
.four-blocks2 .four-wrapper2 ul li::after,
.four-blocks2 .four-wrapper3 ul li::after,
.four-blocks3 .four-wrapper ul li::after,
.four-blocks3 .four-wrapper1 ul li::after,
.four-blocks3 .four-wrapper2 ul li::after,
.four-blocks3 .four-wrapper3 ul li::after {
  position: absolute;
  height: 10px;
  top: 5px;
  background: #0044ff;
  left: -20px;
  border-radius: 100%;
  width: 10px;
  content: "";
}

.four-blocks-active {
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
  pointer-events: fill;
  background: rgba(255, 255, 255, 0.48);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.four-wrapper-active {
  transition-duration: 0.2s;
  transition-timing-function: linear;
  min-height: 700px !important;
  max-height: 900px !important;
  padding: 30px !important;
  width: 10%;
}
.four-wrapper-active .four-wrapper-item h2 {
  opacity: 1 !important;
  transition-delay: 0.7s !important;
  transition-duration: 0.3s !important;
}
.four-wrapper-active .four-wrapper-item .consult {
  transition-duration: 0.3s !important;
  opacity: 1 !important;
  transition-delay: 0.7s !important;
}
.four-wrapper-active .four-wrapper-item h3 {
  opacity: 1 !important;
  transition-delay: 0.7s !important;
  transition-duration: 0.3s !important;
}
.four-wrapper-active .four-wrapper-item ul {
  transition-delay: 0.7s !important;
  transition-duration: 0.3s !important;
  opacity: 1 !important;
}

.four-wrapper-active-width {
  transition-duration: 0.5s;
  transition-timing-function: linear;
  max-width: 1000px !important;
  width: 100% !important;
}

.select {
  height: 40px;
  height: 50px;
  background: white;
  border-radius: 14px;
  border: 2px solid #0044ff;
  max-width: 50%;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 10px;
  position: relative;
  padding-top: 8px;
  transition-delay: 0s !important;
  font-size: 22px;
  color: rgb(83, 83, 83);
}
.select ol {
  left: 0;
  height: 0px;
  list-style-type: none;
  padding: 0px !important;
  max-height: initial !important;
  overflow-y: scroll;
  top: 50px;
  background: white;
  z-index: 9999;
  transition-delay: 0s !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.357);
  border-radius: 20px !important;
  position: absolute;
  flex-wrap: nowrap !important;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.select ol li {
  border-bottom: 2px solid #0044ff;
  padding: 10px !important;
  margin: 0px !important;
  transition-delay: 0s !important;
  margin-bottom: 20px !important;
}
.select ol li::after {
  display: none !important;
  transition-delay: 0s !important;
}
.select .activeyonalish {
  transition-duration: 0.3s !important;
  transition-delay: 0s !important;
  padding: 10px !important;
  height: 300px !important;
}

.consult {
  opacity: 0;
}
.consult .otherother {
  margin-bottom: 20px;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  max-width: 50%;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  color: black;
  outline: none;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid #0044ff;
}
.consult button {
  background: #0044ff;
  padding: 14px 40px;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
.consult span {
  color: #0044ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}
.consult .inp {
  margin-bottom: 30px !important;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.consult .inp input {
  outline: none;
  border: 2px solid #0044ff;
  border-radius: 14px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: black;
  height: 50px;
}

.grantariza {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.grantariza h3 {
  white-space: wrap !important;
  margin-bottom: 10px !important;
}
.grantariza input {
  border-radius: 10px;
  width: 100%;
  max-width: 50%;
  height: 50px;
  margin-top: 20px;
  border: 2px solid #0044ff;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.grantariza button {
  margin-top: 20px;
  height: 60px;
  width: 100%;
  max-width: 50%;
  background: #0044ff;
  border-radius: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

.mouse {
  position: absolute;
  right: -20px;
  bottom: -15px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .one-screen {
    max-height: 1200px !important;
  }
}/*# sourceMappingURL=style.css.map */